* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background: #ffffff;
    color: #000000;

    overflow-x: hidden;

    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu', 'Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    direction: ltr;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 30px;
    font-weight: 700;
}
#map{
    overflow: hidden;
    position: fixed;
}

.stage-info-overlay{
    background-color: #fff;
    display: flex;
    position: relative;
    margin-top: 100vh;
    z-index: 999;
}