* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #000000;

    overflow-x: hidden;

    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu', 'Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    direction: ltr;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}

h1{
    font-size: 30px;
    font-weight: 700;
}

.container{
    height: 100vh;
}
.overlay-info{
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border-radius: 10px;
    height: 150px;
    bottom: 0;
    padding-left: 15px;
    width: 100%;
}

.member-photo-circle{
    background-color: #E3EEFF;
    border-radius: 100%;
}